doctype html
html(lang="en")
  //- NOTE: THIS IS THE NEW LANDING PAGE DESIGN
  block vars
  head
    title Homepage Redesign 2017
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block styles
      //- link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic")
      //- link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,400italic,700")
      //- link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
      link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/xmeter/v5.6.0/xmeter.min.css")
      //- link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/bangs/v0.10.0/bangs.min.css")
      //- link(rel="stylesheet" href="../3rd_modules/glyphicons_pro_1_9_2/glyphicons/web/html_css/css/glyphicons.css")
      //- link(rel="stylesheet" href="../3rd_modules/glyphicons_pro_1_9_2/glyphicons-filetypes/web/html_css/css/glyphicons-filetypes.css")
      //- link(rel="stylesheet" href="../3rd_modules/glyphicons_pro_1_9_2/glyphicons-halflings/web/html_css/css/glyphicons-halflings.css")
      //- link(rel="stylesheet" href="../3rd_modules/glyphicons_pro_1_9_2/glyphicons-social/web/html_css/css/glyphicons-social.css")
      //- link(rel="stylesheet" href="anakin.css")
  body
    a.h-Hidden(href="#main") skip to main content
    header
      h1 American Society of Civil Engineers
      p Header and Megamenu
    main#main
      div (Hero Image)
      section#we-represent
        blockquote Civil Engineers are global leaders building a better quality of life.
        h1 We Represent:
        ul
          li 150,000 Members
          li 177 Countries
          li 9 Institutes
      section#timely-promo
        h1 Timely Promo
        section: h2 Dream Big: Engineering Our World
      section#portals
        h1 Portals
        ul
          li: section: h2 Membership
          li: section: h2 Continuing Education
          li: section: h2 Publications
          li: section: h2 Conferences &amp; Events
          li: section: h2 Ethics
          li: section: h2 Careers
      section#publication-highlights
        h1 Publication Highlights
        section: h2 ASCE 7 &amp; SEI Standards
        section: h2 Civil Engineering Magazine
      section#learn-contribute
        h1 Learn &amp; Contribute
        dl
          dt Get Technical Information
          dd: section: h2 Get Technical Information
          dt Get Involved
          dd: section: h2 Get Involved
          dt Donate
          dd: section: h2 Donate
      section#whats-happening
        h1 What&rsquo;s Happening at ASCE
      section#member-stories
        h1 ASCE Member Stories
        p
          a About ASCE
          a Join ASCE
    footer
      p ASCE Footer
    a.h-Hidden(href="#main") jump to top
    block scripts
      script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
