
/*################################*\
    anakin  |  _c-Advertisement.less
\*################################*/
@import (reference) url('../../../node_modules/xmeter/css/src/__settings.less');
@import (reference) url('../../../node_modules/xmeter/css/src/__tool.fontsize.less');


.c-Advertisement {
  background-color: #eee;
  flex-direction: column;
}

.c-Advertisement__Hn {
  order: 1;
  padding-top: calc(0.5 ~'*' var(--lh));
  padding-top: 0.5lh;
  margin-bottom: calc(0.5 ~'*' var(--lh));
  margin-bottom: 0.5lh;
  @suports (padding-block-start: var(--variable)) {
    padding-top: unset;
    padding-block-start: calc(0.5 ~'*' var(--lh));
    padding-block-start: 0.5lh;
  }
  @suports (margin-block-end: var(--variable)) {
    margin-bottom: unset;
    margin-block-end: calc(0.5 ~'*' var(--lh));
    margin-block-end: 0.5lh;
  }
  font-weight: inherit;
  font-weight: unset;
  .font-size-el(@g-font-size-mill);
  text-align: center;
  text-transform: uppercase;
}
