
/*################################*\
    anakin  |  _c-Hero.less
\*################################*/


.c-Hero {
  height: 50vh;
  position: relative; // for the bar
  background-size: cover;
  background-position: center;
  color: white;
}
.c-Hero__Bar {
  background-color: blue; // TODO skin
  position: absolute;
  bottom: 0;
  left: 0; right:0;
  padding: calc(var(--lh) ~'/' 2) 1rem;
}
.c-Hero__Cap {
}
.c-Hero__Cta {
  float: right;
  float: inline-end;
}
