
/*################################*\
    anakin  |  _c-Promo.less
\*################################*/
@import (reference) url('__settings.less');


.c-Promo {
  height: 50vh;
  position: relative; // for the bar
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}
.c-Promo__Bar {
  background-color: fadeout(black, 75%);
  position: absolute;
  bottom: 0;
  left: 0; right:0;
  padding: calc(var(--lh) ~'/' 2) 1rem; // REVIEW padding variables
}
.c-Promo__Cap {
  margin-left: auto; margin-right: auto;
  margin-inline: auto;
}
.c-Promo__Cta {
}
