
/*################################*\
    anakin  |  _c-Pub.less
\*################################*/
@import (reference) url('../../../node_modules/xmeter/css/src/__settings.less');
@import (reference) url('../../../node_modules/xmeter/css/src/__tool.fontsize.less');
@import (reference) url('__mx.mbh.less');
@import (reference) url('__mx.pth.less');


.c-Pub {
  @media screen and (min-width: 30em) and (max-width: 44.999em), screen and (min-width: 60em) {
    @supports (display: grid) { // NB-LINK read .o-Grid--.less#L17 for details
      display: grid;
    }
    grid-column-gap: var(--layout-padding-inline);
    grid-template-rows: max-content max-content auto auto;
    grid-template-columns: 5fr 7fr;
  }
  @media screen and (min-width: 45em) {
    // same breakpoint as `.o-Grid--publications`
    grid-column-gap: calc(0.5 ~'*' var(--layout-padding-inline));
  }
}

.c-Pub__Img,
.c-Pub__Hn,
.c-Pub__Cap {
  .mx-mbh();
}

.c-Pub__Img {
  box-shadow: 0 0.25rem 1rem 0.125rem fadeout(black, 75%); // COMBAK-FALLBACK for #rrggbbaa support
  box-shadow: 0 0.25rem 1rem 0.125rem #00000040; // REVIEW color
  width: (7/12 * 100%);
  @media screen and (min-width: 30em) and (max-width: 44.999em), screen and (min-width: 60em) {
    width: 100%;
  }
  @media screen and (min-width: 30em) {
    grid-row: 1 ~'/' -2;
  }
}

.c-Pub__Hn {
  .mx-pth();
  text-align: inherit;
  cite {
    font-style: inherit;
    font-style: unset;
  }
}

.c-Pub__Cap {
}

.c-Pub__List {
}

.c-Pub__List__Item {
}

.c-Pub__Link {
}

.c-Pub__Body {
  grid-column: 1 ~'/' -1;
  h2 { .font-size-el(@g-font-size-h3); }
  h3 { .font-size-el(@g-font-size-h4); }
  h4 { .font-size-el(@g-font-size-h5); }
  h5 { .font-size-el(@g-font-size-h6); }
}
