
/*################################*\
    anakin  |  _c-Portal.less
\*################################*/
@import (reference) url('__settings.less');


.c-Portal {
  --color-accent: @g-color-asce-green;
  margin-bottom: 0; // unset base `details`
  section& {
    @media not all and (min-width: 30em) {
      display: none;
    }
  }
  details& {
    .c-Portal__Icon {
      vertical-align: middle;
      margin-right: 1rem;
      border-radius: 50%;
      background-color: var(--color-accent, @g-color-asce-blue);
      color: white;
      &::before {
        content: '\E602'; // copied from `.glyphicons-chevron-down` (cannot change classname, so copying css style)
      }
    }
    &[open] .c-Portal__Icon::before {
      content: '\E601'; // copied from `.glyphicons-chevron-up` (cannot change classname, so copying css style)
    }
    @media screen and (min-width: 30em) {
      display: none;
    }
  }
  ::-webkit-details-marker {
    display: none;
  }
}

.c-Portal__Head {
  display: flex;
  align-items: center;
  a[href]& {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  @media screen and (min-width: 30em) {
    flex-direction: column;
  }
}

.c-Portal__Icon {
  flex: none;
}

.c-Portal__Hn {
  flex: 1;
  color: @g-color-body-txt; // override `a[href]`
  details.c-Portal & {
    text-align: inherit; // unset `.c-SectionHed`
  }
}

.c-Portal__List {
  section.c-Portal & {
    max-width: 30ch;
    max-inline-size: 30ch;
    margin-left: auto; margin-right: auto;
    margin-inline: auto;
  }
}

.c-Portal__List__Item {
}

.c-Portal__Link {
}
