
/*################################*\
    anakin  |  _c-Promo.less
\*################################*/
@import (reference) url('__settings.less');


.c-Promo {
  .mx-fullimage();
  text-align: center;
}

.c-Promo__Bar {
  background-color: fadeout(black, 75%); // HACK for #rrggbbaa support
  background-color: #00000040; // REVIEW color
  padding: calc(0.5 ~'*' var(--lh)) 1rem; // REVIEW padding variables
}

.c-Promo__Cta {
}
