
/*################################*\
    anakin  |  _hack.less
\*################################*/
@import (reference) url('__settings.less');
@import (reference) url('_c-Button.less');


// HACK Add the "+" after the 150,000 members. This should have been done in the HTML.
.glyphicons-group + p > .c-Stat__Num::after { content: '+'; }


// HACK The link in CE Mag should be a button, which goes against all patterns. You can’t blame it, it just wants to be different.
#civil-engineering-magazine .c-Pub__Link {
  .c-Button;
  &:hover { text-decoration: none; } // undo .c-LinkArrow style
  .c-LinkArrow__Icon { display: none; }
}


// HACK This grid does not follow any other `o-Grid` pattern. It should be its own Object.
// TODO create an own Object for this style!
.o-Grid--foundation {
  --color-accent: @g-color-asce-foundation;
  grid-template-areas: 'heading heading'
                       'caption caption'
                       'icon    blurb  '
                       'icon    button ';
  grid-column-gap: var(--layout-padding-inline);
  @media screen and (min-width: 30em) {
    grid-template: 'heading icon blurb '
                   'caption icon button'
                  / 2fr     1fr  1fr   ;
  }
  & > h1                            { grid-area: heading; }
  & > p.o-Grid--foundation__Caption { grid-area: caption; }
  & > i                             { grid-area: icon;    }
  & > p.o-Grid--foundation__Blurb   { grid-area: blurb;   }
  & > p.o-Grid--foundation__Action  { grid-area: button;  }
  & > i {
    justify-self: center; align-self: center; // COMBAK-FALLBACK for place-self
    place-self: center;
  }
  & > .o-Grid--foundation__Blurb,
  & > .o-Grid--foundation__Action {
    text-align: center;
  }
}
