
/*================================*\
    anakin  |  home.less
\*================================*/



/*
 * Table Of Contents
 *
 * # SETTINGS & TOOLS-----------------------PROJECT SETTINGS & MIXINS
 * __settings.less..........................variables
 * __tool.menufont.less.....................font styles for menu bars
 * __tool.logo.less.........................background-image styles for logos
 * __tool.ticket.less.......................Passes and Speaker Components
 *
 * # BASE-----------------------------------BARE UNCLASSED ELEMENTS
 * _dev.less................................development code
 * _base.less...............................bare, unclassed elements
 *
 * # OBJECTS--------------------------------REUSABLE STRUCTURAL PATTERNS
 * Flex--even...............................Flexbox with everything even
 * Tablist--program.........................Tablist extension for Progam Tabs organism
 * Runner...................................header and footer
 * Constrain................................keeps content at max width
 * GridFloat................................grid of items; legacy support
 * ListStacked..............................row of stackable items (Sponsors, Passes, Speakers, etc.)
 * Drawer...................................pull-out container
 *
 * # COMPONENTS-----------------------------SPECIFIC STYLE PATTERNS
 * Mast.....................................masthead for the site
 *
 * # ORGANISMS------------------------------SINGLE FUNCTIONAL INTERFACES
 * Site Header..............................header on every page of the site
 *
 * # THEMES & HELPERS-----------------------LOCATION-DEPENDENT STYLES
 *
 * # OVERRIDES------------------------------ATOMS & HACKS
 * _hack.atom.less..........................all uncategorized atoms
 * _hack.shame.less.........................hacks
 */


//++++++++++++++++++++++++++++++++//
//    # SETTINGS & TOOLS
//++++++++++++++++++++++++++++++++//
//++++ end # SETTINGS & TOOLS ++++//


//++++++++++++++++++++++++++++++++//
//    # BASE
//++++++++++++++++++++++++++++++++//
//++++ end # BASE ++++//


//++++++++++++++++++++++++++++++++//
//    # OBJECTS
//++++++++++++++++++++++++++++++++//

// Objects
//
// Patterns of structure that can be reused many times for many different purposes.
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2017-07-10</time></dd>
// </dl></header>
//
// Weight: 1
//
// Styleguide Objects

.o-Grid--jobs {
  @media screen and (min-width: 45em) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.o-Grid--portals {
  @media screen and (min-width: 45em) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.o-Grid--foundation {
  @media screen and (min-width: 45em) {
    grid-template-columns: repeat(2, 1fr);
    & > p {
      order: 1;
    }
    & > x-stat {
      grid-row: ~'1 / 3';
      grid-column: ~'2 / 3';
    }
  }
}

.o-Grid--whatsHappening {
  @media screen and (min-width: 45em) {
    grid-template-columns: repeat(2, 1fr);
    & > li:first-of-type {
      grid-row: ~'1 / 3';
    }
  }
}

//++++ end # OBJECTS ++++//


//++++++++++++++++++++++++++++++++//
//    # COMPONENTS
//++++++++++++++++++++++++++++++++//

// Components
//
// Patterns of look-and-feel that are each only used for one purpose.
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2017-07-10</time></dd>
// </dl></header>
//
// Weight: 2
//
// Styleguide Components

.c-SectionHed {
}

.c-Hero {
  background-image: url('../images/hero.png');
}
.c-Hero__Bar {
}

.c-Stat {
  display: grid;
}
.c-Stat {
  br {
    display: none;
  }
  @media not all and (min-width: 30em) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.c-Stat__Icon {
  @media not all and (min-width: 30em) {
    grid-row: ~'1 / 4';
  }
}

.c-Pub {
  display: grid;
  flex: 0 0 50%;
  @media screen and (min-width: 30em) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.c-Pub__Img {
  @media screen and (min-width: 30em) {
    grid-row: ~'1 / 4';
  }
}
.c-Pub__Hn {
}
.c-Pub__Desc {
}
.c-Pub__Links {
}
.c-Pub__Body {
}

.c-ArticleTeaser {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media not all and (min-width: 30em) {
    li:first-of-type > & {
      grid-template-columns: unset;
    }
  }
}
.c-ArticleTeaser__Img {
  grid-row: ~'1 / 3';
}
.c-ArticleTeaser__Hn {
}
.c-ArticleTeaser__Date {
}

.c-MemberStory {
  display: grid;
  grid-template: repeat(3, 1fr) ~'/' repeat(2, 1fr);
}
.c-MemberStory__Img {
  grid-row: ~'1 / 3';
}
.c-MemberStory__Hn {
}
.c-MemberStory__SubHn {
}
.c-MemberStory__Quote {
  grid-column: ~'1 / 3';
}


//++++ end # COMPONENTS ++++//


//++++++++++++++++++++++++++++++++//
//    # ORGANISMS
//++++++++++++++++++++++++++++++++//

// Organisms
//
// Compositions of Objects and Components that act together as a single interface.
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2017-07-10</time></dd>
// </dl></header>
//
// Weight: 3
//
// Styleguide Organisms

//++++ end # ORGANISMS ++++//


//++++++++++++++++++++++++++++++++//
//    # THEMES & HELPERS
//++++++++++++++++++++++++++++++++//
//++++ end # THEMES & HELPERS ++++//
#technical-information > header {
  background-image: url('../images/techinfo.png');
}
#get-involved > header {
  background-image: url('../images/involved.png');
}
//++++ end # THEMES & HELPERS ++++//


//++++++++++++++++++++++++++++++++//
//    # OVERRIDES
//++++++++++++++++++++++++++++++++//
//++++ end # OVERRIDES ++++//
