
/*================================*\
    anakin  |  home.less
\*================================*/
@import (reference) url('../../../node_modules/xmeter/css/src/__settings.less');



/*
 * Table Of Contents
 *
 * # SETTINGS & TOOLS-----------------------PROJECT SETTINGS & MIXINS
 * __settings.less..........................variables
 *
 * # BASE-----------------------------------BARE UNCLASSED ELEMENTS
 * _dev.less................................development code
 * _base.less...............................bare, unclassed elements
 *
 * # OBJECTS--------------------------------REUSABLE STRUCTURAL PATTERNS
 * Runner...................................padding around sections
 * Grid--...................................extensions of Grid Object
 * Tablist--slider..........................slider "carousel" extends o-Tablist
 *
 * # COMPONENTS-----------------------------SPECIFIC STYLE PATTERNS
 * Button--ghost............................ghost button, extends Button ; TODO merge with Legacy/Neo
 * SectionHed...............................typographical section heading styles
 * Tagline..................................typographical tagline styles
 * BigAssIcon...............................icon styles
 * LinkList.................................list of actionable links
 * LinkArrow................................a single actionable link (not part of a list)
 * Hero.....................................Hero image & section
 * Promo....................................Timely Promotion
 * Stat.....................................Featured Statistic
 * Portal...................................Portal to internal subsite
 * Pub......................................Featured Publication
 * HomeAction...............................section of Learn & Contribute
 * ArticleTeaser............................article in What’s Happening section
 * MemberStory..............................a member story with image, name, role, and quote
 *
 * # INTERFACES-----------------------------SINGLE SELF-SUSTAINING ORGANISMS
 *
 * # THEMES & HELPERS-----------------------LOCATION-DEPENDENT STYLES
 *
 * # OVERRIDES------------------------------ATOMS & HACKS
 * _hack.shame.less.........................hacks
 * _hack.ie.less............................IE hacks
 */


//++++++++++++++++++++++++++++++++//
//    # BASE
//++++++++++++++++++++++++++++++++//
.glyphicons::before {
  padding: 0.5rem; // fix absolute padding
}
@import url('_base.less');
//++++ end # BASE ++++//


//++++++++++++++++++++++++++++++++//
//    # OBJECTS
//++++++++++++++++++++++++++++++++//

// Objects
//
// Patterns of structure that can be reused many times for many different purposes.
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2017-11-07</time></dd>
// </dl></header>
//
// Weight: 1
//
// Styleguide Objects

@import (inline) url('http://conferencesuite.asce.org/themes/custom/legacy/css/dist/_o-Constrain.css');

.o-Runner {
  padding: var(--layout-padding);
}
.o-Runner--separator {
  // NB-LINK: `./_o-Grid--.less` mentions this selector on line 83.
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0; right: 0;
    bottom: 0;
    height: calc(0.125 ~'*' var(--lh));
    block-size: 0.125lh;
    background: linear-gradient(to right, transparent, @g-color-table-br, transparent);
  }
}

@import url('_o-Grid--.less');
@import url('_o-Tablist--slider.less');
//++++ end # OBJECTS ++++//


//++++++++++++++++++++++++++++++++//
//    # COMPONENTS
//++++++++++++++++++++++++++++++++//

// Components
//
// Patterns of look-and-feel that are each only used for one purpose.
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2017-11-07</time></dd>
// </dl></header>
//
// Weight: 2
//
// Styleguide Components

@import (inline) url('http://conferencesuite.asce.org/themes/custom/legacy/css/dist/_c-Button.css');

// full-bleed background image used in the Hero and Promo sections.
.mx-fullimage() {
  display: flex;
  flex-direction: column;
  justify-content: end;
  justify-content: flex-end; // REVIEW-FALLBACK NOTE: must be after `jusfify-content: end;` to fix support
  height: 100vmin;
  @media screen and (min-width: 30em) {
    height: (2/3 * 100vmin);
  }
  background-size: cover;
  background-position: center;
  color: white;
}


.c-SectionHed {
  .font-size-el(@g-font-size-kilo);
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.c-Tagline {
  padding-top: var(--lh);
  .font-size-el(@g-font-size-kilo);
  font-weight: 600;
}

.c-BigAssIcon {
  display: block;
  line-height: inherit; // COMBAK-FALLBACK
  line-height: unset;
  background-color: @g-color-asce-blue; // COMBAK-FALLBACK for custom prop
  background-color: var(--color-accent, @g-color-asce-blue);
  // background-image: linear-gradient(0.375turn, rgba(255,255,255,0.33), transparent); // fallback for `#rrggbbaa` syntax
  // background-image: linear-gradient(0.375turn, ~'#ffffff55', transparent); // NOTE: need to interpolate due to Less not supporting `#rrggbbaa` syntax
  color: white;
  border-radius: 50%;
  width: 6rem; height: 6rem;
  font-size: 3rem;
  text-align: center;
  &::before {
    position:relative;
    top: 50%; transform: translateY(-50%); // account for height of icon
  }
}

.c-Button--ghost {
  background: transparent;
  box-shadow: 0 0 0 0.125rem white;
  a&:hover,
  a&:focus {
    background: white;
    color: @g-color-asce-blue
  }
}

@import url('_c-LinkList.less');
@import url('_c-LinkArrow.less');
@import url('_c-Hero.less');
@import url('_c-Promo.less');
@import url('_c-Stat.less');
@import url('_c-Portal.less');
@import url('_c-Pub.less');
@import url('_c-HomeAction.less');
@import url('_c-ArticleTeaser.less');
@import url('_c-MemberStory.less');
//++++ end # COMPONENTS ++++//


//++++++++++++++++++++++++++++++++//
//    # INTERFACES
//++++++++++++++++++++++++++++++++//

// Interfaces
//
// Aggregate compositions of Objects and Components that form single, self-sustaining organisms.
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2018-02-01</time></dd>
// </dl></header>
//
// Weight: 3
//
// Styleguide Interfaces

//++++ end # INTERFACES ++++//


//++++++++++++++++++++++++++++++++//
//    # THEMES & HELPERS
//++++++++++++++++++++++++++++++++//
//++++ end # THEMES & HELPERS ++++//


//++++++++++++++++++++++++++++++++//
//    # OVERRIDES
//++++++++++++++++++++++++++++++++//
@import url('_hack.less');
@import url('_hack.ie.less');
//++++ end # OVERRIDES ++++//
