<template id="x-articleteaser">
<article class="c-ArticleTeaser">
  <img class="c-ArticleTeaser__Img" src="{{ image }}"/>
  <h1 class="c-ArticleTeaser__Hn">
    <a class="c-ArticleTeaser__Link" href="{{ url }}">{{ title }}</a>
  </h1>
  <p class="c-ArticleTeaser__Date">{{ datetime }}</p>
</article>
</template>

<script>
  const MONTHS = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December',
  ]
  function formatDate(date) { return `${MONTHS[date.getUTCMonth()]} ${date.getUTCDate()}, ${date.getFullYear()}` }
  class XArticleTeaser extends HTMLElement {
    // sample: <x-articleteaser title="Emergency and Carryover Storage Project Earns OCEA" image="emergency.png" url="#0" datetime="2017-03-16"></x-articleteaser>
    constructor() {
      super()
      let markup = document.currentScript.ownerDocument.querySelector('#x-articleteaser').content // NOTE: `currentScript` will not work with `<script type="module">`
      let returned = markup.cloneNode(true)
      returned.querySelector('.c-ArticleTeaser__Img').setAttribute('src', this.getAttribute('image'))
      returned.querySelector('.c-ArticleTeaser__Link').setAttribute('href', this.getAttribute('url'))
      returned.querySelector('.c-ArticleTeaser__Link').innerHTML = this.getAttribute('title')
      returned.querySelector('.c-ArticleTeaser__Date').innerHTML = formatDate(new Date(this.getAttribute('datetime')))
      while (this.firstChild) { this.firstChild.remove() }
      if (ENABLE_WEB_COMPONENTS) {
      let shadowroot = this.attachShadow({ mode: 'closed' })
      shadowroot.appendChild(returned)
      } else {
        this.parentNode.replaceChild(returned, this)
      }
    }
  }
  window.customElements.define('x-articleteaser', XArticleTeaser)
</script>
