<template id="x-portal">
<section class="c-Portal">
  <h1>
    <i class="c-Portal__Icon h-Block glyphicons glyphicons-{{ icon }}" role="none" aria-hidden="true"></i>
    <span class="c-Portal__Hn h-Block">{{ title }}</span>
  </h1>
  <ul class="o-List c-Portal__List">
    <li class="o-List__Item c-Portal__List__Item">
      <a href="{{ item.url }}">{{ item.text }}</a>
    </li>
  </ul>
</section>
</template>

<script>
  class XPortal extends HTMLElement {
    // sample: <x-portal title="Membership" icon="nameplate">
    //   <item text="Manage My Membership" url="#0"></item>
    //   <item text="Join ASCE" url="#0"></item>
    // </x-portal>
    constructor() {
      super()
      let markup = document.currentScript.ownerDocument.querySelector('#x-portal').content // NOTE: `currentScript` will not work with `<script type="module">`
      let returned = markup.cloneNode(true)
      returned.querySelector('.c-Portal__Icon').className = returned.querySelector('.c-Portal__Icon').className.replace('{{ icon }}', this.getAttribute('icon'))
      returned.querySelector('.c-Portal__Hn'  ).innerHTML = this.getAttribute('title')
      this.querySelectorAll('item').forEach(function (item) {
        let listitem = returned.querySelector('.c-Portal__List__Item').cloneNode(true)
        listitem.querySelector('a').setAttribute('href', item.getAttribute('url'))
        listitem.querySelector('a').innerHTML = item.getAttribute('text')
        returned.querySelector('.c-Portal__List').appendChild(listitem)
      })
      returned.querySelector('.c-Portal__List').firstElementChild.remove()
      while (this.firstChild) { this.firstChild.remove() }
      let shadowroot = this.attachShadow({ mode: 'open' })
      shadowroot.appendChild(returned)
    }
  }
  window.customElements.define('x-portal', XPortal)
</script>
