<template id="x-promotion">
<section class="c-Promotion" style="background-image: url('{{ image }}');">
  <h1 class="c-Promotion__Hn">{{ title }}</h1>
  <p class="c-Promotion__Text">{{ text }}</p>
  <p><a class="c-Promotion__Cta c-Button" href="{{ cta.url }}">{{ cta.text }}</a></p>
</section>
</template>

<script>
  class XPromotion extends HTMLElement {
    // sample: <x-promotion title="Dream Big: subhead" image="dream-big.png" ctatext="Find a screen" ctaurl="#0">A giant-screen film...</x-promotion>
    constructor() {
      super()
      let markup = document.currentScript.ownerDocument.querySelector('#x-promotion').content // NOTE: `currentScript` will not work with `<script type="module">`
      let returned = markup.cloneNode(true)
      returned.querySelector('.c-Promotion').style.setProperty('background-image', this.getAttribute('image'))
      returned.querySelector('.c-Promotion__Hn'  ).innerHTML = this.getAttribute('title')
      returned.querySelector('.c-Promotion__Text').innerHTML = this.innerHTML
      returned.querySelector('.c-Promotion__Cta' ).setAttribute('href', this.getAttribute('ctaurl'))
      returned.querySelector('.c-Promotion__Cta' ).textContent = this.getAttribute('ctatext')
      let shadowroot = this.attachShadow({ mode: 'open' }) // NB: attaching a shadow removes the inner content already present
      shadowroot.appendChild(returned.querySelector('.c-Promotion'))
      // this.firstChild.remove()
      // this.appendChild(returned.querySelector('.c-Promotion'))
    }
  }
  window.customElements.define('x-promotion', XPromotion)
</script>
