<!-- class ArticleTeaser({title, url, image, date}) -->
<article class="c-ArticleTeaser">
  <img class="c-ArticleTeaser__Img" src="{{ data.image }}"/>
  <h1 class="c-ArticleTeaser__Hn">
    <a class="c-ArticleTeaser__Link" href="{{ data.url }}">{{ data.title }}</a>
  </h1>
  <p class="c-ArticleTeaser__Date">{{ data.date + "|date('F j, Y')" }}</p>
</article>
