<!-- class MemberStory({name, title, image, quote}) -->
<article class="c-MemberStory">
  <img class="c-MemberStory__Img" src="{{ data.image }}"/>
  <h1 class="c-MemberStory__Hn">{{ data.name }}</h1>
  <p class="c-MemberStory__SubHn">{{ data.title }}</p>
  <blockquote class="c-MemberStory__Quote">{{ data.quote }}</blockquote>
</article>
