<template>
  <section class="o-Grid__Item c-LearnContrib" data-data="{{ data }}">
    <header class="c-LearnContrib__Head" style="background-image: url('{{ database__image }}');">
      <h1 class="c-LearnContrib__Hn">{{ title }}</h1>
      <p class="c-LearnContrib__Cap">{{ caption }}</p>
    </header>
    <ul class="o-List c-LearnContrib__List">
      <template>
        <li class="o-List__Item c-LearnContrib__List__Item">
          <a class="c-LearnContrib__Link" href="{{ database__url }}">{{ database__text }}</a>
        </li>
      </template>
    </ul>
  </section>
</template>
