<template>
  <div class="c-Stat">
    <p>
      <i class="c-Stat__Icon h-Block glyphicons glyphicons-{{ icon }}" role="none" aria-hidden="true"></i>
      <span class="c-Stat__Num h-Block">{{ number }}</span>
      <span class="c-Stat__Text h-Block">{{ text }}</span>
    </p>
    <p itemprop="potentialAction" itemscope="" itemtype="{{ type }}">
      <a class="c-Stat__Cta c-Button" href="{{ ctaurl }}" itemprop="url">
        <span itemprop="name">{{ ctatext }}</span>
      </a>
    </p>
  </div>
</template>
