/*------------------------------------*\
    Palette
\*------------------------------------*/
/*------------------------------------*\
    Media Sizes
\*------------------------------------*/
/*------------------------------------*\
    For Print Media
\*------------------------------------*/
.print-hidden {
  display: none !important;
}
.all-relative {
  position: relative !important;
}
.no-margin {
  margin: 0px !important;
}
.no-padding {
  padding: 0px !important;
}
.no-top-margin {
  margin-top: 0px !important;
}
.title-margin {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.auto-height {
  height: auto !important;
}
.no-shadow {
  box-shadow: none;
}
.no-border {
  border: 0px !important;
}
.light-green {
  color: #77bc66 !important;
}
/*------------------------------------*\
    Fonts
\*------------------------------------*/
.ex-bold {
  font-weight: 800 !important;
}
/*------------------------------------*\
    Gradient Overlays
\*------------------------------------*/
/*------------------------------------*\
    Sprites
\*------------------------------------*/
.two_column_images ul {
  list-style: none;
  width: 100%;
  float: left;
  margin-bottom: 40px;
}
.two_column_images ul li {
  float: left;
  background-image: none;
  list-style: none;
  margin: 0;
  max-width: 50%;
  padding: 0 5px 0 0;
}
.two_column_images ul li a {
  display: block;
  height: 190px;
}
.two_column_images ul li a img {
  max-width: 100%;
  max-height: 170px;
}
.two_column_images ul li:nth-child(even) {
  padding: 0 0 0 5px;
}
.two_column_images ul li:nth-child(n+3) {
  padding-top: 40px;
}
body {
  background: none;
  background-image: none;
}
body .background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
body .background-image img {
  width: 100%;
  height: auto;
  max-height: 768px;
}
body .background-image div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, transparent 0, transparent 50%, rgba(255, 255, 255, 0.5), #ffffff) no-repeat;
  background: linear-gradient(to bottom, transparent 0, transparent 50%, rgba(255, 255, 255, 0.5), #ffffff) no-repeat;
  background-position: left top;
  background-size: cover;
}
header {
  margin-bottom: 0;
}
main .photo-caption {
  margin-top: 400px;
  background: url('../images/triangle-dark.png') repeat-x right bottom, #0c5fa8;
  position: relative;
  width: 340px;
  font-family: "open-sans", Arial;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.33333333;
  font-weight: 400;
  font-style: normal;
}
main .photo-caption:before {
  content: "";
  position: absolute;
  background: url('../images/triangle-dark.png') repeat-x right bottom, #0c5fa8;
  height: 100%;
  left: -150%;
  width: 150%;
  top: 0;
}
main .photo-caption p {
  color: #fff;
  text-align: left;
  padding: 30px 40px 30px 0;
}
main .join {
  margin-bottom: 50px;
  position: relative;
  width: 100%;
  float: left;
}
main .join .content {
  padding: 50px 0 0 50px;
  text-align: left;
}
main .join .content span {
  display: block;
  font-family: "open-sans", Arial;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.66666667;
  font-weight: 400;
  font-style: normal;
}
main .join .content span.fut-60 {
  font-family: "futura-pt", Verdana;
  font-size: 60px;
  /*px fallback*/
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
}
main .join .content span.bold {
  font-weight: 600;
}
main .join .content .button-big {
  margin: 20px 0 0 80px;
}
main .content-main h2 {
  font-family: "futura-pt", Verdana;
  font-size: 36px;
  /*px fallback*/
  font-size: 3.6rem;
  line-height: 0.44444444;
  font-weight: 300;
  font-style: normal;
  border-bottom: none;
}
main .content-main h3 {
  font-family: "futura-pt", Verdana;
  font-size: 24px;
  /*px fallback*/
  font-size: 2.4rem;
  line-height: 1;
  font-weight: 300;
  font-style: normal;
}
main .content-main h4 {
  font-family: "open-sans", Arial;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.28571429;
  font-weight: 700;
  font-style: normal;
}
main .content-main p.intro {
  font-family: "open-sans", Arial;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.42857143;
  font-weight: 400;
  font-style: normal;
}
main .content-main .intro {
  margin-top: 50px;
}
main .content-main .intro h2 {
  margin-bottom: 30px;
  font-family: "futura-pt", Verdana;
  font-size: 36px;
  /*px fallback*/
  font-size: 3.6rem;
  line-height: 0.44444444;
  font-weight: 300;
  font-style: normal;
}
main .content-main .show-more {
  margin-left: 40px;
}
main .content-main .featured-books h3,
main .content-main .featured-library h3 {
  padding-bottom: 5px;
  border-bottom: 2px solid #ebeded;
  margin-bottom: 30px;
}
main .content-main .featured-books .intro,
main .content-main .featured-library .intro {
  margin-top: 0;
  margin-bottom: 30px;
}
main .content-main .featured-books .intro p,
main .content-main .featured-library .intro p {
  font-weight: 600;
  margin-left: 0;
}
main .content-main .featured-books p.last-child,
main .content-main .featured-library p.last-child {
  margin-bottom: 0;
}
main .content-main .featured-books {
  padding-right: 25px;
}
main .content-main .featured-library {
  padding-left: 25px;
}
main .content-right {
  margin-bottom: 0;
}
main .content-right .group-finder-v2 {
  padding: 50px 0 0 50px;
  text-align: left;
  margin-top: 50px;
  padding-bottom: 25px;
}
main .content-right .group-finder-v2 .title {
  text-transform: uppercase;
  font-family: "futura-pt", Verdana;
  font-size: 24px;
  /*px fallback*/
  font-size: 2.4rem;
  line-height: 0.75;
  font-weight: 500;
  font-style: normal;
}
main .content-right .group-finder-v2 .tab-container {
  width: 260px;
  margin-top: 15px;
}
main .content-right .group-finder-v2 .tab-container .tabs li:first-child {
  width: 78px;
}
main .content-right .group-finder-v2 .tab-container .tabs li:last-child {
  width: 180px;
}
main .content-right .group-finder-v2 .tab-container .tab-pane form select {
  width: 180px;
}
main .content-right .promo {
  font-family: "open-sans", Arial;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2.57142857;
  font-weight: 400;
  font-style: normal;
  background-color: #98999b;
  width: 300px;
  height: 250px;
}
main .content-right .jobs {
  margin: 50px 0;
}
main .content-right .jobs a.title:before,
main .content-right .jobs span.title:before {
  content: " ";
  border-left: none;
}
main .content-right .jobs .content {
  background-color: #e8eaeb;
}
main .content-right .jobs .content ul {
  margin-right: 20px;
}
main .content-right .jobs .content .links {
  margin: 0 20px;
  padding-bottom: 30px;
}
main .content-right .jobs .content .links > div {
  width: 100%;
  background-color: #fff;
  padding: 5px 0;
  text-align: left;
}
main .content-right .jobs .content .links > div a {
  display: inline;
  padding: 10px;
  font-family: "open-sans", Arial;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.33333333;
  font-weight: 600;
  font-style: normal;
  color: #0c5fa8;
}
main .content-right .jobs .content .links > div a:hover,
main .content-right .jobs .content .links > div a:focus,
main .content-right .jobs .content .links > div a:active {
  color: #19a1cf;
}
main .content-right .jobs .content .links > div a .icon-search-3,
main .content-right .jobs .content .links > div a .icon-edit {
  margin-right: 5px;
}
main .content-right .jobs .content .links > div a span {
  margin-bottom: 0;
}
main .content-bottom {
  margin-top: 50px;
  margin-left: 10px;
}
main .content-bottom h2 {
  font-family: "futura-pt", Verdana;
  font-size: 36px;
  /*px fallback*/
  font-size: 3.6rem;
  line-height: 0.44444444;
  font-weight: 300;
  font-style: normal;
  border-bottom: none;
}
main .content-bottom .show-more-v2 {
  margin-bottom: 60px;
}
@media (min-width: 1020px) {
  header {
    margin-bottom: 0;
  }
  main .join {
    background-color: rgba(251, 255, 248, 0.7);
  }
  main .join:after {
    content: " ";
    position: absolute;
    height: 100%;
    top: 0;
    width: 150%;
    right: -150%;
    background-color: rgba(251, 255, 248, 0.7);
  }
}
/* < Large */
@media (max-width: 1019px) {
  main .photo-caption {
    width: 50%;
  }
  main .join .group-finder-v2 {
    background-color: #f4f4f5;
    padding: 50px;
    position: relative;
  }
  main .join .group-finder-v2:before {
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    left: -20px;
    width: 20px;
    background-color: #f4f4f5;
  }
  main .content-right {
    background-color: transparent;
  }
  main .content-bottom .intro h2 {
    white-space: normal;
    display: inline;
    font-family: "futura-pt", Verdana;
    font-size: 36px;
    /*px fallback*/
    font-size: 3.6rem;
    line-height: 1;
    font-weight: 300;
    font-style: normal;
  }
  main .content-bottom .continuing-education .feeds,
  main .content-bottom .conferences-events .feeds {
    margin-left: 0;
  }
  main .content-bottom .continuing-education .feeds li .content,
  main .content-bottom .conferences-events .feeds li .content {
    margin-right: 0;
  }
  main .content-bottom .continuing-education .feeds li .content .title,
  main .content-bottom .conferences-events .feeds li .content .title {
    margin-bottom: 5px;
  }
  main .content-bottom .continuing-education .feeds li .info,
  main .content-bottom .conferences-events .feeds li .info {
    position: relative;
    margin-top: 4px;
    margin-left: 50px;
  }
  main .content-bottom .continuing-education .feeds li .info .type,
  main .content-bottom .conferences-events .feeds li .info .type {
    display: inline-block;
  }
  main .content-bottom .continuing-education .feeds li .info .credits,
  main .content-bottom .conferences-events .feeds li .info .credits {
    display: inline-block;
    margin-left: 10px;
  }
}
/* Medium */
@media (min-width: 768px) and (max-width: 1019px) {
  main .photo-caption {
    margin-top: 250px;
    margin-bottom: 40px;
  }
  main .photo-caption p {
    margin-left: 20px;
  }
  main .join {
    width: 100%;
    background-color: #fff;
  }
  main .join .content {
    width: 48%;
    padding: 0;
    display: inline-block;
    margin-left: 20px;
    float: left;
  }
  main .join .group-finder-v2 {
    background-color: #f4f4f5;
    display: inline-block;
    position: relative;
    padding: 30px;
    margin-top: 0;
    float: right;
    margin-right: -10px;
  }
}
/* > Small */
@media (min-width: 768px) {
  main .body {
    margin-left: 30px;
    margin-bottom: 40px;
  }
}
/* < Medium */
@media (max-width: 767px) {
  body .background-image div {
    display: none;
  }
  main .intro:first-child {
    margin-top: 10px;
  }
  main .content-right {
    padding: 0;
  }
  main .photo-caption {
    width: 100%;
    float: right;
    margin-right: -10px;
    margin-top: 28%;
    z-index: 1;
  }
  main .photo-caption p {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
  }
  main .join {
    display: block;
    clear: both;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
  main .join .content {
    margin: 0;
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 40px;
  }
  main .join .group-finder-v2 {
    margin-top: 0;
    margin-bottom: 40px;
    padding-left: 10px;
    width: 100%;
  }
  main .join .group-finder-v2 .tab-pane form input:not(.submit) {
    width: 130px;
  }
  main .join .group-finder-v2 .tab-pane form select {
    width: 170px;
  }
  main .content-main .show-more-v2,
  main .content-right .show-more-v2 {
    margin-top: 30px;
  }
  main .content-main .featured-books,
  main .content-right .featured-books,
  main .content-main .featured-library,
  main .content-right .featured-library {
    padding: 0;
  }
  main .content-main .jobs,
  main .content-right .jobs {
    margin: 0;
  }
}
/*X-Small*/
@media (max-width: 580px) {
  main {
    background: none;
  }
  main .photo-caption {
    margin-top: 30%;
  }
  main .content-right .tabs li {
    padding: 10px 20px;
  }
  main .content-main .featured-news,
  main .content-main .featured-news-image,
  main .content-main .featured-news-intro {
    margin-left: 0;
  }
  main .content-bottom {
    margin-left: 0;
  }
  .home .row.ad-spots {
    display: none !important;
  }
}
