.double_col {  
  ul:extend(.row) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    li:extend(.col-lg-9) {
    list-style: none;
    background-image: none !important; // fix this dae
    }
  }
}