.double_col {  
  ul:extend(.row) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    li:extend(.col-lg-9) {
    list-style: none;
    background-image: none !important; // fix this dae
    }
  }
}


.technical-areas {
  &.news-detail {
    main {
      .content-main {
        .image-with-caption {
          max-width: 220px;
          margin-bottom: 20px;
          margin-right: 20px;
          
          img {
            width: 100%;
            margin: 0;
          }

          .caption {
            span {
              display: block;
              font-size: 12px;
              line-height: 1.2;
              padding: 5px 5px 0 5px;
            }
          }
        }
      }
    }
  }
}

.site-alert {
  background: darkorange;
  font-size: small;
  padding: 0.5rem 1rem;
  text-align: center;
  color: beige;
  p {
    margin: 0;
    padding: 0;  
  }
}

.icon-livechat {
  background: url(../images/chat-icon.svg) no-repeat;
  width: 24px;
  height: 16px;
  background-size: contain;
  margin-right: 4px;
  margin-bottom: -2px;
  &:hover {
    color: blue;
  }
}