//** Social Media Icons **/
/* file inherits styles from anakin.css. clean version of document needs to be created.*/

// .social-icon {
//   fill: #fff;
//   height: 24px;
//   width: 24px;
//   &:hover {
//     fill: #000;
//   }
// }

.icon-ig {
  background: url(https://cdn.asce.org/images/icons/ig-logo-white.svg) no-repeat;
  background-size: contain;
  height: 24px;
  width: 24px;
  &:hover {
    background-image: url(https://cdn.asce.org/images/icons/ig-logo-black.svg);
  }
}